@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-sans text-base;
    letter-spacing: var(--av-letter-spacing-base, 0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
