/**
 * Acronis Default Theme - Standalone Entry
 * 
 * This file is used as a build entry point to generate a separate CSS file
 * for the Acronis Default theme.
 */

@use './tokens/primitives';
@use './themes/acronis-default';
